.gallery-container {
    height: 415px;
    width: 1240px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    img {
        object-position: center;
        flex-grow: 1;
    }
    .arrow {
        background: transparent;
        color: red;
        padding: 10px 15px;
        cursor: pointer;
        border: none;
    }
    .prev {
        position: absolute;
        left: 10px;
    }
    .next {
        position: absolute;
        right: 10px;
    }
}