.logement-info {
    color: #FF6060;
    font-family: Montserrat;
    margin-top: 30px;

    h1{
        font-size: 36px;
        font-weight: normal;
    }

    .side-by-side {
        display: flex;
        justify-content: space-between;
        gap: 56px;
        //flex-wrap: wrap;

        p {
            align-items: center;
        }
    }

    img {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        border-radius: 50%;
    }
    .host-container {
        display: flex;
        align-items: center; // Pour aligner verticalement le texte et l'image si nécessaire
    
        .host-name {
            margin-right: 10px; // Vous pouvez ajuster cette valeur selon vos besoins
            max-width: 80px;
            text-align: right;
        }
    }
    .host-container-mobile {
        display: none;
    }
    .tags {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        span {
            border-radius: 10px;
            background: #FF6060;
            color: white;
            padding: 3px 40px;
        }
    }
    .rating {
        display: flex;
        justify-content: flex-end;
        margin: 3px;
    }
    .accordion {
        margin-top: 10px;
    }
    @media (max-width: 600px) {
        .side-by-side, .tags {
            flex-wrap: wrap;
        }
        .host-container {
            //display: none;
            /*display: flex;
            justify-content: flex-end;*/
        }
        .host-info {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }
        .host-container-mobile {
            display: flex;
            .host-name {
                max-width: 70px;
            }
        }
        .rating {
            justify-content: left;
        }
    }
}